<div class="validation-errors">
    <ng-container *ngFor="let validation of fValidationMessages">
        <div *ngIf="fName.get(fCtrlName).hasError(validation.type) && (fName.get(fCtrlName).dirty || fName.get(fCtrlName).touched)">
            {{ translations.FORM_ERROR_MESSAGES[validation.messageTranslationLabel]}}
        </div>
    </ng-container>
</div>